.lista-miembros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
}

.miembro {
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    max-width: 220px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.miembro:hover {
    box-shadow:
        0 2px 6px rgba(201, 158, 71, 0.5),
        0 4px 12px rgba(14, 29, 39, 0.4);
}

.miembro img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.miembro h3 {
    margin: 10px 0 5px;
    font-size: 1.1rem;
    word-break: break-word;
}

.miembro span {
    font-weight: normal;
    font-size: 0.9rem;
    color: #666;
}

.miembro p {
    font-size: 0.95rem;
    margin: 0;
}

.botones-miembro {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Botones comunes */
.btn-insertar,
.btn-editar,
.btn-eliminar {
    padding: 6px 12px;
    font-size: 0.85rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Botón Insertar */
.btn-insertar {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    margin: 16px auto;
    display: block;
    width: fit-content;
    transition: background-color 0.3s ease;
    background-color: #c99e47;
    color: white;
}


.btn-insertar:hover {
    background-color: #a97f30;
}

/* Botón Editar */
.btn-editar {
    background-color: #c99e47; /* Dorado */
    color: white;
}

.btn-editar:hover {
    background-color: #a97f30;
}

/* Botón Eliminar */
.btn-eliminar {
    background-color: #0e1d27; /* Azul oscuro */
    color: white;
}

.btn-eliminar:hover {
    background-color: #1d607c;
}

/* Diseño adaptado a móviles */
@media (max-width: 480px) {
    .lista-miembros {
        flex-direction: column;
        align-items: center;
    }

    .miembro {
        max-width: 90%;
    }
}
